@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500&family=Open+Sans:ital,wght@1,300&family=Pixelify+Sans&family=Poppins:wght@300;600&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@200&family=Pixelify+Sans&family=Poppins:wght@300;600&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500&family=DM+Sans:opsz,wght@9..40,100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@200&family=Pixelify+Sans&family=Poppins:wght@300;600&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&family=Ultra&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin-left: auto;
  margin-right: auto; */
}
/* Basic styles */
.menu-btn {
  display: none;
}
#black {
  color: black;
}
#white {
  color: white;
}
.title {
  font-family: Ultra;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}
.text-description {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
}
.dark-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-color: #171b1b;
  padding-top: 251px;
  padding-bottom: 251px;
  color: white;
}
.dark-bg {
  background-color: #171b1b;
  overflow: hidden;
  position: relative;
  padding-bottom: 190px;
}
.orange-bg {
  position: relative;
  overflow: hidden;
  background-color: #f5d3ab;
  z-index: 1;
  padding-bottom: 190px;
}
.orange-section {
  position: relative;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 150px 0px;
}
.flex-column {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
/* Basic styles */
.header-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 0px 135px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
}
.left-nav {
  display: flex;
}
.logo-text a {
  text-decoration: none;
  color: #fff;
}
.logo-text {
  font-family: Ultra;
  font-size: 40px;
  font-weight: 400;
}
.list-style {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 65px;
  margin-left: 70px;
}
.list-style a {
  text-decoration: none;
  color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
}
.contact-btn {
  box-sizing: border-box;
  border: 1px solid #ffffff4b;
  display: flex;
  padding: 11px 41px;
}

.contact-btn button {
  cursor: pointer;
  color: #fff;
  border: none;
  background: none;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
}
.contact-btn:hover {
  cursor: pointer;
  background-color: #ffffff4b;
}
/* header-article */

.first-section h1 {
  margin: 0;
  max-width: 446px;
  font-family: Ultra;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
}
.first-section p {
  max-width: 470px;
  font-family: DM Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
}
/* header-imgs */
.green-shape {
  position: absolute;
  right: 265px;
  top: 165px;
}
.abstract-center-img {
  position: absolute;
  right: 135px;
  top: 170px;
}
.bread-img {
  position: absolute;
  top: 0;
  right: 300px;
}
.orange-circle {
  position: absolute;
  right: 135px;
  top: 230px;
}
.person-vector {
  position: absolute;
  right: 135px;
  top: 200px;
}
.seeds {
  position: absolute;
  right: 550px;
  top: 210px;
}
.top {
  position: absolute;
  top: 0;
  right: 20%;
}
.bottom {
  position: absolute;
  bottom: -60px;
  left: 40%;
  z-index: 0;
}
.right {
  position: absolute;
  right: 0;
  top: 30%;
}

/* about us section */

.scroll-box {
  display: flex;
  gap: 30px;
}
.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.scroll-text p {
  width: 370px;
  color: rgba(51, 51, 51, 0.7);
  font-family: DM Sans;
  font-size: 16px;
}
.scroll-text span {
  font-family: DM Sans;
}
.scroll-text h5 {
  font-family: Oswald;
  font-size: 24px;
  line-height: 32px;
}
.scroll-text {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: Oswald;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
#scroll-num {
  font-family: Oswald;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
}
.black-dot-up {
  position: relative;
}
.path-up {
  position: absolute;
  right: 18px;
  top: 17px;
}
.black-dot-down {
  position: relative;
}
.path-down {
  position: absolute;
  right: 18px;
  top: 21px;
}
.black-box {
  position: absolute;
  width: 370px;
  height: 304px;
  background: #000;
  left: 0;
  top: 150px;
}
.grey-box {
  position: absolute;
  background: #ccc;
  width: 400px;
  height: 400px;
  left: 70px;
  top: 374px;
}
.green-shape-orangepg {
  position: absolute;
  left: 0;
  top: 203px;
  width: 549px;
  height: 590px;
  transform: rotate(204deg);
  flex-shrink: 0;
  z-index: -1;
}
.black-seed {
  position: absolute;
  left: 380px;
  top: 203px;
}
/* END SECT FOR PG 2 */

.end-sect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  color: #171b1b;
  font-family: Oswald;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  /* text-transform: uppercase; */
}
.orange-circle-end {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.baked-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-bg {
  position: relative;
  /* box-sizing: border-box; */
  background-color: white;
  width: 370px;
  height: 384px;
  padding: 60px;
}

.white-bg h4 {
  font-family: Ultra;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.white-bg p {
  color: rgba(51, 51, 51, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.white-bg:hover {
  width: 400px;
  height: 400px;
  background-color: #9ead8d;
  .orange-circle-end {
    display: unset;
  }
}

/* Third section */

.third-section {
  display: flex;
  justify-content: flex-end;
}
.play-btn-img {
  position: absolute;
  cursor: pointer;
  left: 140px;
  top: 300px;
}
.sect-3-bot {
  position: absolute;
  bottom: -70px;
  left: 50%;
  z-index: 0;
}
.sect-3-top {
  position: absolute;
  top: 0;
  right: -350px;
}
.sect-3-seeds {
  position: absolute;
  left: 80px;
  top: 170px;
  rotate: 140deg;
}
.right-side {
  max-width: 472px;
}

/* forth section */
.forth-section {
  align-items: flex-start;
  justify-content: start;
}
.forth-section h2 {
  max-width: 520px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
}

.main-block {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  padding: 200px 50px 50px 50px;
  max-height: 448px;
  grid-column: 1/3;
  grid-row: 1/2;
  color: white;
}

.main-block p {
  color: rgba(255, 255, 255);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 300px;
}
.price {
  font-family: Ultra;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.side-block span {
  color: black;
}
.grey-container {
  background-color: #ccc;
  width: 100%;
  height: 448px;
}
.under {
  background-color: #fff;
  padding: 16px 35px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-first {
  grid-column: 3/4;
  grid-row: 1/2;
}
.grid-second {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid-third {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-forth {
  grid-column: 3/4;
  grid-row: 2/3;
}
.explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-btn button {
  color: #171b1b;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  background: none;
  padding: 10px 55px;
  border-radius: 2px;
  border: 1px solid rgba(23, 27, 27, 0.24);
}
.explore-btn button:hover {
  background-color: #c9ab85a1;
  cursor: pointer;
}

/* fifth section */

.fifth-abstract {
  position: absolute;
  top: 0;
  left: -350px;
}
.fifth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fifth-block {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  color: black;
  height: 384px;
  max-width: 284px;
  padding: 35px;
}
.fifth-flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-inside h4 {
  font-family: Ultra;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.text-inside p {
  color: rgba(51, 51, 51, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.fifth-block:hover {
  width: 400px;
  height: 400px;
  background-color: #9ead8d;
  .orange-circle-end {
    display: unset;
  }
}
/* sixth-section */
.sixth-section {
  position: relative;
  overflow: hidden;
}
.sixth-section h2 {
  max-width: 617px;
}
.main-cont {
  width: 100%;
}
.main-cont h4 {
  color: #171b1b;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-top: 30px;
}
.main-cont p {
  color: black;
  font-family: DM Sans;
  font-size: 16px;
  line-height: 32px;
  width: 322px;
  height: 68px;
  margin: 0;
}
.grey-cont {
  height: 496px;
  flex-shrink: 0;
  background-color: #9b9b9b;
}
.small-grey-cont {
  height: 208px;
  flex-shrink: 0;
  background-color: #9b9b9b;
}
.white-cont {
  background-color: white;
  color: black;
  padding: 10px;
}
.dark-container-slides {
  display: flex;
  gap: 30px;
}
.flex-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
.side-flex {
  width: 270px;
}
.side-flex span {
  color: black;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.side-flex p {
  color: #171b1b;
  font-family: DM Sans;
  font-size: 20px;
  line-height: 32px;
  width: 206px;
  height: 61px;
}
.time-text {
  display: flex;
  gap: 10px;
  color: #171b1b;
  text-align: right;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.white button {
  color: white;
  border: 2px solid white;
}
.sixth-bottom {
  position: absolute;
  bottom: -50px;
  left: -100px;
  z-index: 2;
}
.sixth-right {
  position: absolute;
  right: -120px;
  top: 50%;
}
.sixth-seeds {
  position: absolute;
  right: -85px;
  top: 51%;
}
/* seventh section */
.seventh-section {
  display: block;
}
.seventh-section h2 {
  max-width: 570px;
}
.scroll-seventh-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.scroll-text-seventh-section p {
  width: 370px;
  color: rgba(51, 51, 51, 0.7);
  font-family: DM Sans;
  font-size: 16px;
}
.scroll-text-seventh-section span {
  font-family: DM Sans;
}
.scroll-text-seventh-section h5 {
  font-family: Oswald;
  font-size: 24px;
  line-height: 32px;
}
.scroll-text-seventh-section {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: Oswald;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.seventh-green-shape {
  position: absolute;
  right: 21px;

  width: 512px;
  height: 519px;
  transform: rotate(151deg);
}
.seventh-abstract-center {
  position: absolute;
  right: 60px;
  top: 420px;
  width: 278px;
  height: 211px;
  transform: rotate(7deg);
}
.seventh-black-seeds {
  position: absolute;
  right: 380px;
}
.seventh-white-shape {
  width: 370px;
  height: 504px;
  background-color: #fff;
  position: absolute;
  right: 40px;
  top: 450px;
}
/* eighth section */
.text-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.size {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eighth-flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eighth-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 384px;
  height: 368px;
  background-color: white;
  padding: 40px;
}
.eighth-block:hover {
  width: 400px;
  height: 390px;
  background: #9ead8d;
}
.grey-circle {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: grey;
}
.oswald {
  display: block;
  width: 100px;
  color: #171b1b;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
/* nineth  section*/

.scroll-box-nineth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.abstract-center-nineth {
  position: absolute;
  left: 50px;
  top: 240px;
}
.green-shape-nineth {
  position: absolute;
  left: 70px;
  bottom: 10px;
}
.black-seeds-nineth {
  position: absolute;
  left: 20%;
  top: 300px;
}
.white-shape-nineth {
  background-color: white;
  position: absolute;
  top: 300px;
  left: 0;
  width: 370px;
  height: 484px;
}
.nineth-section {
  display: flex;
  justify-content: end;
  align-items: center;
}
.loc-phone {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location span,
p {
  color: #171b1b;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  line-height: 40px;
  font-weight: 400;
  display: block;
}
.tel {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
}
.tel-text span {
  color: #171b1b;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  line-height: 40px;
  font-weight: 400;
  display: block;
}
.contact-btn-orange {
  margin-left: 70px;
  margin-top: 70px;
  color: #171b1b;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid grey;
  background: none;
  padding: 10px 50px;
}
/* FOOTER */
.footer-bg {
  padding: 0;
}
.footer-container {
  padding-bottom: 10px;
  padding-top: 50px;
}
.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-up h2 {
  margin: 0;
}

.menu-list {
  color: white;
  text-decoration: none;
  font-family: Oswald;
}
.menu-list ul,
li,
a {
  /* margin: 0; */
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  line-height: 32px;
}
.service-list {
  color: white;
  text-decoration: none;
  font-family: Oswald;
}
.service-list ul,
li,
a {
  /* margin: 0; */
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  line-height: 32px;
  color: white;
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-down hr {
  opacity: 0.079;
  background: #fff;
}
.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  line-height: 32px;
}
.terms {
  gap: 50px;
}
@media screen and (max-width: 600px) {
  /* header */
  .dark-bg {
    padding-bottom: 0;
  }
  .header-wrapper {
    padding: 0px 15px;
  }
  .list-style {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .top {
    display: none;
  }
  /* secution 1 */
  .dark-section {
    max-width: 375px;
    padding: 10px;
    padding-bottom: 140px;
  }
  .right,
  .black-box,
  .grey-box,
  .black-seed,
  .green-shape-orangepg,
  .bottom,
  .green-shape,
  .abstract-center-img,
  .orange-circle,
  .person-vector,
  .bread-img,
  .seeds {
    display: none;
  }
  .first-section h1 {
    max-width: 347px;
    font-family: Ultra;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
  }
  .first-section p {
    font-size: 20px;
    line-height: 32px;
    width: 329px;
  }
  /* Section 2 */
  .orange-bg {
    padding-bottom: 140px;
  }
  .orange-section {
    box-sizing: border-box;
    max-width: 375px;
    padding: 140px 20px;
  }
  .end-sect {
    padding: 20px;
    padding-bottom: 140px;
  }
  .about-us-sect {
    max-width: 100%;
  }
  .text-description {
    color: #171b1b;
    font-family: Oswald;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .title {
    font-family: Ultra;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px; /* 120% */
  }
  .scroll-text h5 {
    color: #171b1b;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 133.333% */
    margin: 0;
  }
  .scroll-text span {
    color: #171b1b;
    font-family: Oswald;
    font-size: 16px;
    line-height: 32px; /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }
  .baked-list {
    overflow: hidden;
    max-width: 375px;
  }
  .white-bg {
    width: 332px;
    height: 416px;
    padding: 10px;
  }
  .white-bg:hover {
    width: 345px;
    height: 430px;
  }
  .white-bg p {
    width: 306px;
    height: 69px;
    flex-shrink: 0;
  }
  .white-bg img {
    width: 82px;
    height: 86px;
    flex-shrink: 0;
  }
  /* section 3 */
  .third-section {
    display: flex;
    flex-direction: column;
    padding-top: 140px;
  }
  .play-btn-img {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
    left: auto;
    top: auto;
    position: relative;
  }
  .sect-3-seeds {
    top: 40px;
    left: 50px;
  }
  .sect-3-top {
    top: 0;
    right: -160px;
  }
  .sect-3-bot {
    bottom: -150px;
    left: 100px;
  }
  /* section 4 */
  .grid-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .main-block {
    background: #9b9b9b;
    display: block;
    padding: 200px 10px 20px 10px;
  }
  .side-block {
    min-width: 329px;

    flex-shrink: 0;
  }
  .main-block span,
  h4 {
    line-height: 50px;
    margin: 0;
    color: white;
  }
  .main-block p {
    width: 188px;
    height: 101px;
    flex-shrink: 0;
  }
  /* section 5  */
  .one,
  .three,
  .four {
    display: none;
  }
  .sixth-section h2 {
    max-width: 247px;
  }
  .sixth-right {
    top: 24%;
  }
  .sixth-seeds {
    top: 25%;
  }
  .dark-container-slides {
    flex-wrap: wrap;
  }

  .side-flex {
    width: 100%;
  }
  .fifth {
    padding-bottom: 160px;
  }
  /* section 7 */
  .scroll-box img,
  .seventh-white-shape {
    display: none;
  }
}
